{% extends 'potok/base.html' %}
{% load static %}



{% block title %}Главная{% endblock %}

{% block content %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock %}
    <div class="block1">
        <video class="vid1" autoplay muted loop>
            <source src="{% static 'vid/vid1.mp4' %}" type="video/mp4">
        </video>
        <video class="vid2" autoplay muted loop>
            <source src="{% static 'vid/vid2.mp4' %}" type="video/mp4">
        </video>
        <video class="vid3" autoplay muted loop>
            <source src="{% static 'vid/vid3.mp4' %}" type="video/mp4">
        </video>
        <video class="vid4" autoplay muted loop>
            <source src="{% static 'vid/vid4.mp4' %}" type="video/mp4">
        </video>        
    </div>
    <img class="mainpage_logo" src="{% static 'img/logo.png' %}" alt="Логотип">

    <div class="transition">
    </div>
    <div class="inf">
        <div id="inf1" class="inf1">
            <div id="popup1" class="popa">
                <span class="close">&times;</span>
                <div class="popup-content"></div>
            </div>
            <img src="{% static 'img/inf1.png' %}" alt="">
            <p>Развлечения</p>
        </div>

        <div id="inf2" class="inf2">
            <div class="popa" id="popup2">
                <span class="close">&times;</span>
            </div>

            <img src="{% static 'img/inf2.png' %}" alt="">
            <p>Атмосфера</p>
        </div>

        <div id="inf3" class="inf3">
            <div class="popa" id="popup3">
                <span class="close">&times;</span>
            </div>

            <img src="{% static 'img/inf3.png' %}" alt="">
            <p>Барная карта</p>
        </div>

        <div id="inf4" class="inf4">
            <div class="popa" id="popup4">
                <span class="close">&times;</span>
            </div>

            <img src="{% static 'img/inf4.png' %}" alt="">
            <p>Дымное меню</p>
        </div>

        <div id="inf5" class="inf5">
            <div class="popa" id="popup5">
                <span class="close">&times;</span>
            </div>
            
            <img src="{% static 'img/haha.png' %}" alt="">
            <p>Закуски</p>
        </div>
    </div>

    {% block scripts %}
        <script src="{% static 'js/mp.js' %}"></script>
    {% endblock %}

{% endblock %}